.avatar {
	border-radius: 7px;
	width: fit-content;
}

.row {
	display: flex;
	align-items: center;
	gap: .5em;
}

.column {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

.avatarImgContainer {
	display: flex;
	background-color: #333;
	margin: auto;
	border-radius: 9999px;
	padding: .25em;
	overflow: hidden;
}

.avatarImg {
	border-radius: 9999px;
}